body {
	background-color: #43A8C3;
}

nav {
	k
	position: fixed;
	width: 100%;
	z-index: 10px;
	border: solid;
	top: 0px;
	margin-top: 5px;
	font-size: 16px;
	background-color: rgb(39,170,225);
}

img {
	border: 5px red;
	width: 50%;
	height: 50%;
	align-content: center;
	position: absolute;
	left:25%;
	top: 125px;
	margin: 1px;
}

#nav-flex {
	display: flex;
	justify-content: space-around;
	padding: 0px;
}

#name {
border: 1px solid;
	margin: auto;
	font: Arial;
	text-align: center;
	padding: auto;
	background-color: rgb(39,170,225);
    width: 50%;
	height: 75px;
	position: relative;
	top: 550px;
	font-size: 28px;
}

li {
	justify-content: center;
    display: inline-flex;
    list-style: none;
    margin-left: 100px;
    margin-right: 50px;
	align-content: center;
}

a {
  font-family: sans-serif;
  font-size: 26px;
  color: #231F20;
  color: rgb(35, 31, 32);
}

a {
	font-size: 26px;
	transition-property: font-size;
	transition-duration: 250ms;
}

 a:hover {
	font-size: 30px;
}
