body {
	background-color: #43A8C3;
}



nav {
	position: fixed;
	width: 98%;
	z-index: 10;
	border: solid;
	top: 0px;
	margin-top: 5px;
	font-size: 16px;
	background-color: rgb(39,170,225);
}


#nav-flex {
	display: flex;
	padding: 0px;
	list-style: none;
}

ul {
	justify-content: center;
}

li {
	display: inline-block;
   list-style: none;
   margin-left: 100px;
   margin-right: 50px;
}

a {
  font-family: sans-serif;
  font-size: 26px;
  color: #231F20;
  color: rgb(35, 31, 32);
}

#skills-header {
	font-family: Myriad Pro;
  font-weight: bold;
  font-style: italic;
  font-size: 42px;
  color: #231F20;
	position: relative;
    left: 40%;
	top: 65px;
	border: solid;
	background-color: dimgray;
	width: 25%;
    text-align: center;
}

.text-box {
  font-family: Verdana;
  font-weight: normal;
  font-style: normal;
  font-size: 17px;
  color: #231F20;
  color: rgb(35, 31, 32);
	width: 220px;
	height: 105%;
}

#first-skill {
	background-color: slategray;
	position: relative;
	top: 100px;
	left: 20%;
}

#sec-skill {
 background-color: slategray;
	position: relative;
	top: -43px;
	left: 60%;
}

#third-skill {
background-color: slategray;
	position: relative;
	top: 50px;
	left: 60%;
}

#four-skill {
background-color: slategray;
	position: relative;
	top: -93px;
	left: 19%;
}


/*#secret {

}
*/

