body {
	margin: 0px;
}

nav {
	position: fixed;
	width: 100%;
	z-index: 10px;
	border: solid;
	top: 0px;
	margin-top: 5px;
	font-size: 16px;
	background-color: rgb(39,170,225);
}

#nav-flex {
	display: flex;
	justify-content: space-around;
	padding: 0px;
	list-style: none;

}


li {
	justify-content: center;
    display:inline-flex;
    list-style: none;
    margin-left: 100px;
  margin-right: 50px;
	align-content: center;
}

a {
  font-family: Myriad Pro;
  font-size : 26px;
  color : #231F20;
  color : rgb(35, 31, 32);
}
